/* Sidebar Brand */

.brand-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.brand-link .brand-image {
    margin-right: 10px !important;
    margin-left: 0 !important;
}

.brand-link .brand-text {
    font-size: 26px;
    font-weight: 800;
    letter-spacing: 2px;
    color: #fff;
}